$submit_colour: $five;
$submit_hover: $three;

.text, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display:inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing:border-box;

}

textarea {
  width: 100%;
  margin: 5px 0;
  padding: 3px;

}

.submit {
  width: 100%;
  background-color: $submit_colour;
  padding: 14px 20px;
  margin: 8px 0;
  border:none;
  border-radius: 4px;
  cursor:pointer;
}

input[type=submit]:hover {
  background-color: $submit_hover;

}
