body {
    background-color: #BCEEB7;
}

.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Times New Roman", Times, serif;
    padding: 10px;

}

.HolyGrail,
.HolyGrail-body {
    display: flex;
    flex-direction: column;
}

.HolyGrail-nav {
    order: -1;
}

@media (min-width: 768px) {
    .HolyGrail-body {
        flex-direction: row;
        flex: 1;
    }

    .HolyGrail-content {
        flex: 1;
        padding: 15px;

    }

    .HolyGrail-ads {
        /* 15em is the width of the columns */
        flex: 0 0 15em;
    }

    .HolyGrail-nav {
        /* 6em is the width of the columns */
        flex: 0 0 6em;
    }
}

.text, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    width: 100%;
    margin: 5px 0;
    padding: 3px;
}

.submit {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.third-width {
    width: 33%;
    margin: 8px 8px;
}

.tenth-width {
    width: 10%;
    margin: 8px 8px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.header, .footer {
    text-align: center;
}


.header {
    padding: 20px;
}

.footer {
    padding: 10px;
}


/* Style the top navigation bar */
.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style the nav links */
.nav a {
    display: block;
    width: 60px;
}

/* Change color on hover */
.nav a:hover {
    background-color: #D9C5E1;
    color: black;
}

.card {
    padding: 5px;
    margin-top: 10px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #D9C5E1;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

.scrollable {
    overflow-y: scroll;
    max-height: 100vh;
}

h1 {
    font-size: 45px;
}

.alert {
    padding: 1px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 10px;
}

.active, .accordion:hover {
    background-color: #ccc;
}
