kind: ConfigMap
apiVersion: v1
metadata:
  name: server-email-config
data:
  api_key: <SENDGRID_API_KEY>
  sender_email: <YOUR_EMAIL_ADDRESS>
  valid_admin_email_address: <EMAIL_ADDRESS_FOR_ADMIN_USER>

